// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
.home-cover {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/dtdxhxnyd/image/upload/v1600524105/lks4browuz7vj1ttonqa.png');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
  }
  p {
    position: absolute;
    width: 271px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }
}
