<div class="universal-card artist-card">
    <%=  image_tag("brian_bw.jpg", alt: "")%>
    <div class="content">
      <h3>Lust for Youth</h3>
      <p>Followers</p>
    </div>
    <a href="<button type="button class="btn-follow">Unfollow</button> </a>
  </div>
