<script src="https://kit.fontawesome.com/c416561167.js" crossorigin="anonymous"></script>

<% if current_user %>
  <footer class="global-footer">
    <div class="home-icon">
    <%= link_to posts_path(@post) do %>
    <% if request.path == posts_path(@post) %>
      <i class="footer-icon far fa-home-alt"></i>
      <% else %>
        <i class="footer-icon fal fa-home-alt"></i>
      <% end %>
    <% end %>
    <% unless current_user.notifications.unread.count == 0 %>
      <%= render 'shared/notification_badge' %>
    <% end %>
    </div>
    <%= link_to artists_path(@artist) do %>
      <% if request.path == artists_path(@artist) %>
        <i class="footer-icon far fa-music"></i>
      <% else %>
        <i class="footer-icon fal fa-music"></i>
      <% end %>
    <% end %>
    <%= link_to discover_artists_path do %>
      <% if request.path == discover_artists_path %>
        <i class="footer-icon far fa-globe"></i>
      <% else %>
        <i class="footer-icon fal fa-globe"></i>
      <% end %>
    <% end %>
  </footer>
<% end %>
