<div class="header">
  <div class="header-logo">
    <%= render 'shared/logo' %>
  </div>
  <div class="header-user-avatar">
    <%= link_to profile_path(current_user) do %>
      <%= cl_image_tag 'https://res.cloudinary.com/dtdxhxnyd/image/upload/v1602430168/dy1broo66bxwa4soe6so.jpg' %>
    <% end %>
  </div>
</div>
