<div class="home-cover">
  <div class="text-center fixed-top mt-5 py-5">
    <%= render 'shared/logo' %>
    <h1>Welcome to Wave!</h1>
    <p>Connect your services to start following your favorite artists now!</p>
  </div>
</div>
