<div class="pb-5">
  <% @posts.each do |post| %>
  <%  if post.source == "Songkick" %>
    <%= render "shared/songkick_card", post:post%>
     <% else %>
    <%= render "shared/feed_card", post:post%>
    <%  end %>
  <% end %>
</div>
