.btn-follow {
  background-color: black;
border-radius: 20px;
font-family: Roboto;
  font-size: 7px;
  font-weight: 500;
  height: 30px;
  line-height: 8.2px;
  text-align: center;
width: 78px;
left: -0.5px;
top: 1px;
padding: 11px;
color: white;
}
