.btn-follow {
  background-color: black;
  border-radius: 20px;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 500;
  height: 30px;
  line-height: 8.2px;
  text-align: center;
  width: 78px;
  left: -0.5px;
  top: 1px;
  padding: 11px;
  color: white;
  border-width: 0px;
}
.btn-signup {
  background: #fff;
  color: #000;
  border-radius: 44px;
  padding: 16px 16px;
  width: 199px;
  margin: 0 auto;
  &:hover {
    text-decoration: none;
    color: #000;
  }
}
.btn-login {
  color: #fff;
  &:hover {
    text-decoration: none;
    color: #fff;
  }
}
.btn-signup-invert {
  background: #000;
  color: #fff;
  border-radius: 44px;
  padding: 16px 16px;
  width: 199px;
  margin: 0 auto;
  &:hover {
    text-decoration: none;
    color: #fff;
  }
}
.btn-login-invert {
  color: #000;
  &:hover {
    text-decoration: none;
    color: #000;
  }
}

.btn-buy-tickets {
  font-family: Roboto;
  font-size: 9px;
  font-weight: 500;
  width: 85.09px;
  height: 25px;
  left: 247.56px;
  top: 613px;
  background: #000000;
  border-radius: 24px;
  color: white;
  text-align: center;
  padding: 7px;
}
