.universal-card {
background: #FFFFFF;
box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.07);
border-radius: 10px;
width: 318px;
margin: 16px auto;
}

.universal-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.feed-card h3 {
  font-family: Roboto;
  font-size: 11px;
}

.feed-card p {
  font-family: Roboto;
  font-size: 10px;
}

.artist-card {
  display: flex;
  padding: 32px 16px;
  align-items: center;
  justify-content: space-between;
}

.artist-card img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.artist-card h3 {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 700;
}

.artist-card p {
  font-family: Roboto;
  font-size: 9px;
  font-weight: 300;
}
